<h1>Editing Exchange</h1>

<%= form_for :price, url: exchanges_path(@exchange), method: :patch do |f| %>
    <% if @exchange.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@exchange.errors.count, "error") %> prohibited
          this client from being saved:
        </h2>
        <ul>
          <% @exchange.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <p>
    <%= f.label :card_id %><br>
    <%= f.text_field :card_id %>
  </p>

  <p>
    <%= f.label :price_id %><br>
    <%= f.text_field :price_id %>
  </p>

  <p>
    <%= f.label :exchange_date %><br>
    <%= f.text_field :exchange_date %>
  </p>

 <%= link_to 'Back', exchanges_path %>
  <p>
    <%= f.submit %>
  </p>

<% end %>
