<p>
  <strong>Dni:</strong>
  <%= @article.dni %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @article.surname %>
</p>

<p>
  <strong>Tlf:</strong>
  <%= @article.tlf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @article.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @article.address %>
</p>

<%= link_to 'Back', clients_path %>