<p>
  <strong>Dni:</strong>
  <%= @client.id %>
</p>
 
<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Tlf:</strong>
  <%= @client.tlf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %>

<h2>Cards</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Points</th>
    <th>Status</th>
  </tr>
  <% @client.cards.each do |card| %>
    <tr>
      <td><%= card.id %></td>
      <td><%= card.points %></td>
      <td><%= card.status %></td>
    </tr>
  <% end %>
</table>

<%= form_for([@client, @client.cards.build]) do |f| %>
  <%= f.submit %>
<% end %>
<%= link_to 'Back', clients_path %>
