<h1>Listing purchases</h1>

<table class="table">
  <thead>
    <tr>
      <th>Purchase ID</th>
      <th>Store ID</th>
      <th>Buy date</th>
      <th>Total</th>
      <th>Card ID</th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.id %></td>
        <td><%= purchase.id_store %></td>
        <td><%= purchase.buy_date %></td>
        <td><%= purchase.total %></td>
        <td><%= purchase.card_id %></td>
        <td><%= link_to 'Show', purchase_path(purchase) %></td>
        <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', purchase_path(purchase),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if params[:card_id] %>
  <%= link_to 'New purchase', new_card_purchase_path %>
<% end %>
