<p>
  <strong>Card ID:</strong>
  <%= @exchange.card_id %>
</p>

<p>
  <strong>Price ID:</strong>
  <%= @exchange.price_id %>
</p>

<p>
  <strong>Exchange Date:</strong>
  <%= @price.exchange_date %>
</p>

<%= link_to 'Edit', edit_exchange_path(@price) %>
<%= link_to 'New exchange', new_exchange_path %>
<%= link_to 'Back', exchanges_path %>
